<div id="<%= dom_id(change_order) %>" class="bg-light shadow p-2" data-controller="change-order-form">
  <h5>Create Change Order</h5>

  <%= form_with(model: change_order, url: draw_cost_change_orders_path(draw_cost_id: change_order.draw_cost_id), data: {turbo_method: :post}) do |form| %>
    <%= turbo_frame_tag dom_id(change_order, :errors) do %>
      <%= render partial: 'shared/object_errors', locals: { object: change_order } %>
    <% end %>

    <div class="preview_container" data-change-order-form-target='document' data-hasdocument="<%= change_order.document.attached? %>" >
      <% if !change_order.new_record? && change_order.document.attached? %>
        <%= image_tag preview_document(document: change_order.document, resize: [150,150]) %>
      <% end %>
    </div>
    <% if change_order.new_record? %>
      <div class="card_upload_button">
        <%= form.label :document, style: 'display: block;' do %>
          <span id="select_pdf">
            <%= inline_icon(icon: :uploaded, fill: :green, html: {class: 'upload_image d-none', id: 'image_uploaded_icon', data: {change_order_form_target: 'file_selected_image'}}) %>
            <span data-change-order-form-target="file_upload_prompt">
              <%= inline_icon(icon: :upload, fill: :black, html: {class: 'upload_image'}) %>
              <br/>
              Select PDF...
            </span>
          </span>
          <%= form.file_field :document, class: 'visually-hidden', data: { action: 'change->change-order-form#file_changed', change_order_form_target:  'file_field' }  %>
        <% end %>
      </div>
    <% end %>

    <div class="row pt-2">
      <div class="col">
        <div class="form-floating mb-3 g-2">
          <%= form.number_field :amount, { class: 'currency_input form-control', step: 0.01, data: { change_order_form_target: 'amount_field', action: 'input->change-order-form#amount_changed' }} %>
          <%= form.label :amount %>
        </div>  
      </div>
    </div>

    <div class="row pt-2">
      <div class="col">
        <div class="form-floating mb-3 g-2">
          <%= form.select :funding_source_id, change_order_funding_options(change_order), { include_blank: true }, { class: 'form-select', autofocus: true, data: { change_order_form_target: 'source_field', action: 'input->change-order-form#source_changed' }} %>
          <%= form.label :funding_source_id, 'Funding Source' %>
        </div>  
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= form.submit('Submit', class: 'btn btn-success', data: {change_order_form_target: 'submit_button'}, disabled: :disabled) %>
        <%= link_to('Cancel', :back, class: 'btn btn-sm btn-secondary') %>
      </div>
    </div>

  <% end %>

</div>
