<%= turbo_frame_tag invoice do %>
  <div id="<%= dom_id(invoice) %>" class="invoice_card d-flex flex-column justify-content-evenly text-center m-1 shadow-sm mt-3" style="position: relative;">
    <div class="position-absolute start-50 translate-middle border border-1 border-<%= invoice.state_css_class %> bg-<%= invoice.state_css_class %> text-white text-center" style="width: 8rem; top: 0;">
      <%= invoice.state.titleize %>
    </div>
    <h4>Invoice</h4>
    <% if invoice.document.attached? %>
      <div class="preview_container">
        <%= link_to(rails_blob_path(invoice.document), target: '_blank') do %>
          <%= image_tag preview_document(document: invoice.document, resize: [150,150]), class: 'align-middle' %>
        <% end %>
      </div>
    <% end %>
    <div class="body">
      <small><%= short_date invoice.updated_at %></small><br/>
      <span class="badge bg-success"><%= number_to_currency invoice.amount %></span><br/>
      <p style="line-height: 1em; padding: 0.5em;"><%= truncate invoice.description, length: 60 %></p>
    </div>
    <div class="actions align-items-end">
      <%= link_to('Submit', draw_cost_invoice_submit_path(draw_cost_id: invoice.draw_cost_id, invoice_id: invoice.id), data: {turbo_method: :post, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-success m-1') if policy(invoice).submit? %>
      <%= link_to('Edit', edit_draw_cost_invoice_path(draw_cost_id: invoice.draw_cost_id, id: invoice.id), class: 'btn btn-sm btn-primary m-1') if policy(invoice).edit? %>
      <%= link_to('Remove', draw_cost_invoice_path(draw_cost_id: invoice.draw_cost_id, id: invoice.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger') %>
    </div>
  </div>
<% end %>
