<div class="row">
  <div class="col-auto me-auto">
    <h1>Users</h1>
  </div>

  <div class="col-sm-6 col-md-2 col-auto">
    <%= link_to('Create User', new_user_path, class: 'btn btn-success') %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Name</th>
          <th scope="col">Title</th>
          <th scope="col">Contact</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |user| %>
          <tr>
            <td>
              <% if user.confirmed? %>
                <% if user.active? %>
                  <span class="badge bg-primary">active</span> 
                <% else %>
                  <span class="badge bg-light">deactivated</span> 
                <% end %>
              <% else %>
                <span class="badge bg-warning">unconfirmed</span>
              <% end %>
              <span class="badge bg-<%= role_badge_color_class(user.role) %>"><%= user.role&.name || 'NONE' %></span>
              <p> 
                <small>
                  <em>Last Login: </em>
                  <span class="text-nowrap">
                    <%= full_datetime(user.current_sign_in_at) || 'Never' %>
                  </span>
                </small>
              </p>
          </td>
          <td class="text-nowrap">
            <span><%= user.full_name %></span>
          </td>
          <td>
            <span class="text-nowrap"><em><%= user.title %></em></span> 
          </td>
          <td class="nowrap">
            <% if user.organization.present? %>
              <em>Organization:</em>
              <%= link_to(user.organization.name, organization_path(user.organization)) %>
              <br/>
            <% end %>
            <em>Email:</em> <span><%= mail_to user.email %></span><br/>
            <em>Phone:</em> <span><%= user.phone %></span><br/>
          </td>
          <td>
            <span><%= link_to('Edit', edit_user_path(user), class: 'btn btn-sm btn-primary') if policy(user).edit? %></span> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
