<div class="row p-2">
  <div class="col">
    <%= form_with(model: draw_cost_request, url: [draw_cost_request.draw, draw_cost_request], class: 'form-floating', data: { turbo_frame: '_top'}) do |form| %>
      <%= turbo_frame_tag dom_id(draw_cost_request, 'errors') do %>
        <%= render partial: 'shared/object_errors', locals: { object: draw_cost_request } %>
      <% end %>

      <%= form.hidden_field :draw_id %>

      <div class="row">
        <div class="col-8">
          <div class="form-floating mb-3 g-2">
            <%= form.select :draw_cost_id, draw_cost_options(project: form.object.project, draw_cost: form.object.draw_cost),{ include_blank: true }, { class: 'form-select', autofocus: true } %>
            <%= form.label :draw_cost_id, 'Cost Category' %>
          </div>  
        </div>
        <div class="col-4">
          <div class="form-floating mb-3 g-2">
            <%= form.number_field :amount, class: 'form-control form-control-lg', placeholder: 'Amount', step: 0.01 %>
            <%= form.label :amount %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <div class="form-check">
            <%= form.check_box :plan_change, class: 'form-check-input' %>
            <%= form.label :plan_change, 'Plan Change?' %>
          </div>
        </div>
        <div class="col-10">
          <div class="form-floating">
            <%= form.text_field :plan_change_reason, { class: 'form-control' } %>
            <%= form.label :plan_change_reason, 'Reason' %>
          </div>
        </div>
      </div>

      <div class="row pe-2">
        <div class="col-auto me-auto">
          <button type="submit" class="btn btn-success">Save</button>
          <%= link_to 'Cancel', :back, class: "btn btn-sm btn-light" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
