<div id="events-section" class="card">
  <div class="card-header">
    <h5>
      Events
      <span class="badge bg-secondary"><%= events.count %></span>
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <% events.each do |event| %>
        <li class="list-group-item">
          <span class="badge rounded-pill bg-<%= event_severity_color_class(event) %>">
            <em><%= full_datetime(event.created_at) %></em>
          </span>
          <%= event.description %>
          <span class="text-nowrap">
            <%= link_to(event.event_source.name,
                        url_for(event.event_source),
                        {
                          data: {'turbo_frame': '_top' }
                        }) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
