<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to(root_path, class: 'nav-link active', aria: {current: 'page'}) do %>
            <%= image_tag home_image, style: 'margin-top: -10px; width: 30px;'%>
            <span class="navbar-brand">Drafter</span>
          <% end %>
        </li>
        <% if policy(User).index? %>
          <li class="nav-item">
            <%= link_to('Users', users_path, class: 'nav-link') %>
          </li>
        <% end %>
        <% if policy(Organization).index? %>
          <li class="nav-item">
            <%= link_to('Organizations', organizations_path, class: 'nav-link') %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if policy(@current_user).edit? %>
                <li class="nav-item">
                  <%= link_to('Profile', edit_user_path(@current_user), class: 'nav-link') %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, class: 'nav-link', data: { "turbo-method": :delete } %>
              </li>
            </ul>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
