<% if object&.errors.any? %>
  <div class="row">
    <div id="<%= object.id %>-errors" class="col alert bg-warning" >
      <div class="row">
        <div class="col-1">
          <%= image_tag alert_image, class: 'svgicon' %>
        </div>
        <div class="col">
          <%= pluralize(object.errors.count, "error") %> prohibited this <%= object_name%> from being saved:
          <ul>
            <% object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
