<div class="card project-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to(project.name, project_path(project)) %>
    </h3>
    <p class="card-text">
      <%= project.description %>
    </p>
    <% if project.draws.any? %>
      <% project.draws.visible.order(index: :desc).limit(3).each do |draw| %>
        <p>
          <small><%= draw_state_badge(draw) %></small>
          <b><%= draw.name %></b>
          &mdash;
          <%= number_to_currency(draw.draw_cost_total) %>
        </p>
      <% end %>
    <% else %>
      No Draws
    <% end %>
  </div>
</div>
