<%= turbo_frame_tag draw_cost do %>
  <div class="row p-3 d-flex justify-content-center">
    <div class="position-absolute top-10 start-50 translate-middle border border-1 border-secondary bg-<%= draw_cost.state_css_class %> text-white text-center" style="width: 10rem">
      <%= draw_cost.state.titleize %>
    </div>

    <div class="col p-4 bg-light border border-2 border-<%= draw_cost.state_css_class %>">
      <div class="row">
        <div class="col d-flex justify-content-evenly">
          <%= render partial: 'draw_costs/add_invoice_button', locals: { draw_cost: draw_cost } %>
        </div>
      </div>

      <div class="row"> <!-- Main section -->
        <div class="col-4"> <!-- Draw cost left col -->
          <h5 style="border-bottom: 1px solid gray;"><%= draw_cost.project_cost&.name %></h5>  
          <p>
            <b>Estimated Total:</b>
            <span class="badge bg-success">
              <%= number_to_currency draw_cost.total %>
            </span>
            <br/>
            <b>Invoice Total:</b>
            <span class="badge bg-success">
              <%= number_to_currency draw_cost.invoice_total %>
            </span>
            <br/>
            <b>Budget Remaining:</b>
            <span class="badge bg-<%= draw_cost.over_budget? ? 'danger' : 'success' %>">
              <%= number_to_currency draw_cost.project_cost_balance %>
            </span>
          </p>
          <%= link_to('Edit', edit_draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id), class: 'btn btn-sm btn-primary', data: {turbo_frame: dom_id(draw_cost)} ) if policy(draw_cost).edit? %>
          <%= link_to('Withdraw', draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id), class: 'btn btn-sm btn-danger', data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} ) if policy(draw_cost).withdraw? %>
        </div> <!-- END Draw cost left col -->

        <div class="col-8 d-flex flex-wrap p-2"> <!-- right col -- invoices -->
          <%= render draw_cost.invoices.visible %>
        </div> <!-- end invoices -->
      </div> <!-- end Main section -->

    </div>

  </div>
<% end %>
