<%= turbo_frame_tag draw_cost do %>
  <div class="row p-3 position-relative">
    <div class="position-absolute top-10 start-50 translate-middle border border-1 border-secondary bg-<%= draw_cost.state_css_class %> text-white text-center" style="width: 10rem">
      <%= draw_cost.state.titleize %>
    </div>
    <div class="col-sm-12 col-md-3 p-3 bg-light border border-end-0 border-2 border-secondary">
      <h5 style="line-height: 0.9em; margin-bottom: 0;"><%= draw_cost.name %></h5>  
      <span class="badge bg-<%= draw_cost.cost_type_css_class%>"><%= draw_cost.cost_type %></span>
      <span><%= number_to_currency draw_cost.total %></span>
      <%= link_to(image_tag(edit_image), edit_draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id), class: 'action-link', data: { turbo_frame: dom_id(draw_cost) }) if policy(draw_cost).edit?  %>
      <%= link_to(image_tag(destroy_image), draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id), class: 'action-link', data: { turbo_frame: dom_id(draw_cost), turbo_method: :delete, turbo_confirm: 'Are you sure?'  }) if policy(draw_cost).destroy?  %>
      <p>
        <b>Contingency</b>:
        <span>$X,XXX.XX</span>
      </p>
    </div>
    <div class="col-sm-12 col-md-9 p-3 bg-light border border-start-0 border-2 border-secondary">

      <div class="card text-center p-1 m-1 d-inline-flex justify-content-evenly" style="width: 8rem;">
        <img class="card-img-top" style="width: 90%; height: 10rem; margin: 0px auto; border: 1px solid #ccc;"></img>
        <div class="card-body">
          <span>$X,XXX.XX</span><br/>
          OCR <%= image_tag(circle_check_image) %><br/>
          <%= image_tag square_check_image %>
          &nbsp;
          <%= image_tag square_x_open_image, style: 'opacity: 0.2;' %>
        </div>
      </div>

      <div class="card text-center p-1 m-1 d-inline-flex justify-content-evenly" style="width: 8rem;">
        <img class="card-img-top" style="width: 90%; height: 10rem; margin: 0px auto; border: 1px solid #ccc;"></img>
        <div class="card-body">
          <span>$X,XXX.XX</span><br/>
          OCR <%= image_tag(circle_x_image) %><br/>
          <%= image_tag square_check_open_image %>
          &nbsp;
          <%= image_tag square_x_open_image %>
        </div>
      </div>

    </div>
  </div>
<% end %>
