<%= turbo_frame_tag draw_cost do %>
  <div class="row p-3 d-flex justify-content-center">
    <div class="position-absolute top-10 start-50 translate-middle border border-1 bg-<%= draw_cost.state_css_class %> text-white text-center" style="width: 10rem">
      <%= draw_cost.state.titleize %>
    </div>

    <div class="col p-4 shadow bg-light border border-2 border-<%= draw_cost.state_css_class %>">

      <div class="row"> <!-- draw cost header row -->
        <div class="col-sm-12 col-md-4">
          <h5 style="border-bottom: 1px solid gray;"><%= draw_cost.project_cost&.name %></h5>  
          <div class="mt-1 mb-2">
            <%= link_to('Edit', edit_draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id), class: 'btn btn-sm btn-primary', data: {turbo_frame: dom_id(draw_cost)} ) if policy(draw_cost).edit? %>
            <%= link_to('Withdraw', draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id), class: 'btn btn-sm btn-danger', data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} ) if policy(draw_cost).withdraw? %>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= turbo_frame_tag :summary_amounts, draw_cost do %>
            <%= render partial: 'draw_costs/summary_amounts', locals: { draw_cost: draw_cost } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= turbo_frame_tag :change_orders, draw_cost do %>
            <%= render partial: 'draw_costs/change_orders', locals: { draw_cost: draw_cost } %>
          <% end %>
        </div>
      </div> <!-- END draw cost header row -->

      <div class="row"> <!-- Main section -->
        <div class="col-8 d-flex flex-wrap p-2"> <!-- right col -- invoices -->
          <% if draw_cost.invoices.any? && policy(draw_cost.invoices.first).show? %>
            <%= render draw_cost.invoices.visible.order(created_at: :desc) %>
          <% else %>
            <em>No Invoices to Display</em>            
          <% end %>
          <div class="align-self-middle" >
            <%= render partial: 'draw_costs/add_invoice_button', locals: { draw_cost: draw_cost } %>
          </div>
        </div> <!-- end invoices -->
      </div> <!-- end Main section -->

    </div>

  </div>
<% end %>
