<% if draw_cost.new_record? %>
  <% form_url = draw_draw_costs_path(draw_id: draw_cost.draw_id) %>
<% else %>
  <% form_url = draw_draw_cost_path(draw_id: draw_cost.draw_id, id: draw_cost.id) %>
<% end %>
<%= form_with(model: draw_cost, url: form_url, multipart: true, data: { turbo_frame: :_top}) do |form| %>
  <%= turbo_frame_tag dom_id(draw_cost, 'errors') do %>
    <%= render partial: 'shared/object_errors', locals: { object: draw_cost } %>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 g-2">
        <%= form.select :project_cost_id, project_cost_options(project: draw_cost.project, project_cost: draw_cost.project_cost),{ include_blank: true }, { class: 'form-select', autofocus: true } %>
        <%= form.label :project_cost_id, 'Project Cost Category ($ Remaining)' %>
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3 g-2">
        <%= form.number_field :total, class: 'form-control form-control-lg', placeholder: '$', step: 0.01 %>
        <%= form.label :total, 'Estimated Total $ (optional)' %>
      </div>
    </div>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-success m-1' %>
  <%= link_to 'Cancel', :back, class: "btn btn-sm btn-secondary", data: { turbo_frame: :_top } %>
</div>
<% end %>
