<div class="row p-2">
  <div class="col">
    <%= form_with(model: draw_cost, url: [draw_cost.draw, draw_cost], class: 'form-floating') do |form| %>
      <%= turbo_frame_tag dom_id(draw_cost, 'errors') do %>
        <%= render partial: 'shared/object_errors', locals: { object: draw_cost } %>
      <% end %>

      <div class="row row-cols-1">
        <div class="col">
          <div class="form-floating mb-3 g-2">
            <%= form.text_field :name, { class: 'form-control', autofocus: true} %>
            <%= form.label :name %>
          </div> 
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="form-floating mb-3 g-2">
            <%= form.select(:cost_type, options_for_select(draw_cost_cost_type_options, draw_cost.cost_type), {}, {class: 'form-select'}) %>
            <%= form.label :cost_type, 'Cost Type' %>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="form-floating mb-3 g-2">
            <%= form.number_field :approval_lead_time, {class: 'form-control', step: 1, min: 0} %>
            <%= form.label :approval_lead_time, 'Approval Lead Time (Days)' %>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="form-floating mb-3 g-2">
            <%= form.number_field :total, {class: 'form-control', step: 0.01, min: 0} %>
            <%= form.label :total, 'Total $' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-auto me-auto">
          <button type="submit" class="btn btn-sm btn-success">Save</button>
          <%= link_to 'Cancel', :back, class: "btn btn-sm btn-light", data: {'turbo_frame': '_top'} %>
        </div>
      </div>

    <% end %>
  </div>
</div>

