<%= turbo_frame_tag draw_cost_document do %>
  <div id="<%= dom_id(draw_cost_document) %>" class="draw_cost_request_card d-flex flex-column justify-content-evenly text-center m-1 shadow-sm">
    <div class="preview_container">
      <% if draw_cost_document.document.attached? %>
        <%= link_to(rails_blob_path(draw_cost_document.document), target: '_blank') do %>
          <%= image_tag preview_document(document: draw_cost_document.document, resize: [150,150]), class: 'align-middle' %>
        <% end %>
      <% end %>
    </div>
    <div class="card_upload_button">
      <% unless draw_cost_document.document.attached? %>
        <%= image_tag upload_image %>
      <% end %>
    </div>
    <div class="body">
      <p class="h2">
        <%= draw_cost_document.documenttype.capitalize %>
      </p>
      <br/>
      <small>
        <%= short_date draw_cost_document.updated_at %>
      </small>
      <br/>
    </div>
    <div class="actions align-items-end">
      Remove
      <%#= link_to('Remove', draw_cost_request_draw_cost_document_path(draw_cost_request_id: draw_cost_document.draw_cost_request_id, id: draw_cost_document.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger') %>
    </div>
  </div>
<% end %>
