<%= turbo_frame_tag draw do %>
<div class="card project-card">
  <div class="card-body">
    <h4><%= draw.organization.name %></h4>
    <h3 class="card-title">
      <%= draw.name %>
      &nbsp;
      <small>
        <%= draw_state_badge(draw) %>
      </small>
    </h3>
    <div class="card-action-buttons" style="right: 40px;">
    </div>
    <div class="row row-cols-1 row-cols-md-2 g2">
      <div class="col col-md-8">
        <div class="card-text">
          <!-- additional information here -->
          <% if @current_user.project_internal?(draw.project) %>
            <em><b>Reference #:</b> <%= draw.reference %></em>
          <% end %>
          <p style="line-height: 1em;">
            <%= draw.notes %>
          </p>
        </div>
      </div>
      <div class="col col-md-4">
        <h5><%= number_to_currency(draw.draw_cost_total) %></h5>
        <!--
          <br/>
          <span class="badge round-pill bg-<%= draw.over_budget? ? 'danger' : 'success' %> "><%= number_to_currency(draw.budget_variance) %></span>
        -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to('Costs/Documents',
                    project_draw_path(project_id: draw.project_id, id: draw.id),
                    class: 'btn btn-primary',
                    data: { turbo_frame: :_top }) if policy(draw).show? %>
        <%= link_to('Edit',
                    edit_project_draw_path(project_id: draw.project_id, id: draw.id),
                    class: 'btn btn-sm btn-primary',
                    data: { turbo_frame: draw }) if policy(draw).edit? %>
        <%= link_to('Withdraw', project_draw_path(project_id: draw.project.id, id: draw.id),
                    class: 'btn btn-sm btn-danger',
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }) if policy(draw).withdraw? %>
        <hr/>
        <%= render partial: 'draws/action_buttons', locals: { draw: draw } %>
      </div>
    </div>
  </div>
</div>
<% end %>
