<div id="<%= dom_id draw %>">
  <p>
    <strong>Project:</strong>
    <%= draw.project_id %>
  </p>

  <p>
    <strong>Index:</strong>
    <%= draw.index %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= draw.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= draw.state %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= draw.reference %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= draw.total %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= draw.approver %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= draw.notes %>
  </p>

</div>
