<div class="row">
  <div class="col">
    <h1><%= @draw.name %></h1>
  </div>
</div>

<div class="row px-2">
  <div class="col">
    <h2 class="text-center">
      Total Cost:
      <%= turbo_frame_tag('total_cost', @draw) do %>
        <%= number_to_currency @total_cost %>
      <% end %>
    </h2>
    <%= turbo_frame_tag 'draw_cost_requests' do %>
      <% if @draw_cost_requests.none? %>
        <%= turbo_frame_tag 'new_draw_cost_request' do %>
          <%= link_to('Start New Draw Request',
                        new_draw_draw_cost_request_path(draw_id: @draw.id),
                        class: 'btn btn-success', data: {'turbo_frame': 'new_draw_cost_request'}) if policy(@draw).new_request?(@current_user.organization) %>
        <% end %>
      <% else %>
        <%= turbo_frame_tag 'draw_cost_requests' do %>
          <%= render @draw_cost_requests %>
        <% end %>
      <% end %>
    <% end %>
    <% if @draw_cost_requests.any? %>
      <h2 class="text-center">
        Difference to Amount:
        <%= turbo_frame_tag('total_cost_difference', @draw) do %>
          <%= number_to_currency @difference_to_amounts %>
        <% end %>
      </h2>
    <% end %>
  </div>
</div>
