<div class="row">
  <div class="col">
    <%= render @draw %>
  </div>
</div>

<% if policy(DrawCost.new(project: @project)).new? %>
<div class="row">
  <div class="col">
      <%= link_to('Add Draw Cost', new_draw_draw_cost_path(draw_id: @draw.id), class: 'btn btn-primary', data: {'turbo_frame': dom_id(DrawCost.new)}) %>
    <%= turbo_frame_tag dom_id(DrawCost.new) %>
  </div>
</div>
<% end %>

<div class="row px-2">
  <div class="col">
  <% if current_user.project_developer?(@project) %>
    <h2 class="text-center">Total Cost: <%= number_to_currency @draw_cost_requests.sum(:total) %></h2>
    <h3>Costs</h3>
    <%= turbo_frame_tag 'draw_cost_requests' do %>
      <%= render @draw_cost_requests %>
      <% if @draw_cost_requests.none? %>
        <p>None</p>
      <% else %>
        <%= turbo_frame_tag 'draw_cost_requests' do %>
          <%= render @draw_cost_requests %>
        <% end %>
      <% end %>
    <% end %>
    <h2 class="text-center">Difference to Total: $<%= 'TODO' %></h2>
  <% else %>
    <%= turbo_frame_tag 'draw_costs' do %>
      <%= render @draw.draw_costs %>
    <% end %>
  <% end %>
  </div>
</div>
