<div class="row">
  <div class="col">
    <%= render @draw %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%#= link_to('Start New Draw Request', new_draw_draw_cost_request_path(draw_id: @draw.id), class: 'btn btn-primary', data: {'turbo_frame': dom_id(DrawCostRequest.new)}) %>
    <%#= turbo_frame_tag dom_id(DrawCostRequest.new) %>
    <%= link_to('Start New Draw Request',
                  new_draw_draw_cost_request_path(draw_id: @draw.id),
                  class: 'btn btn-success', data: {'turbo_frame': '_top'}) if policy(@draw).new_request?(@current_user.organization) %>
  </div>
</div>

<div class="row px-2">
  <div class="col">
    <h2 class="text-center">Total Cost: <%= number_to_currency @draw_cost_requests.sum(:total) %></h2>
    <h3>Costs</h3>
    <%= turbo_frame_tag 'draw_cost_requests' do %>
      <% if @draw_cost_requests.none? %>
        <p>None</p>
      <% else %>
        <%= turbo_frame_tag 'draw_cost_requests' do %>
          <%= render @draw_cost_requests %>
        <% end %>
      <% end %>
    <% end %>
    <h2 class="text-center">Difference to Total: $<%= 'TODO' %></h2>
  </div>
</div>
