<div class="row">
  <div class="col">
    <h1>
      <%= draw.name %>
      <% if draw.state != 'pending' %>
        <span class="badge bg-<%= draw.state_css_class %>"><%= draw.state %></span>    
      <% end %>
    </h1>
  </div>
</div>

<%= turbo_frame_tag draw do %>
  <div class="row px-2">
    <div class="col border bg-light m-2 p-2 text-center">
      <h3>
        <%= draw.name %> Total:
        <%= turbo_frame_tag(:total_cost, draw) do %>
          <%= number_to_currency draw.draw_cost_total %>
        <% end %><br/>
        <%= turbo_frame_tag(:submitted_documents, draw) do %>
          <%= draw.required_documents.count %>
        <% end %>
        of 3 Required Documents
      </h3>
      <%= turbo_frame_tag :submit_button, draw do %>
        <%= render partial: 'draws/submit_button', locals: { draw: draw } %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col m-2 p-3 border shadow">
      <h3 class="text-center">Costs</h3>
      <%= turbo_frame_tag 'new_draw_cost' do %>
        <%= link_to('Add Draw Cost',
                      new_draw_draw_cost_path(draw_id: draw.id),
                      class: 'btn btn-primary', data: {turbo_frame: dom_id(draw, 'new_draw_cost' )}) if policy(DrawCost.new(draw: draw)).new? %>
      <% end %>
      <%= turbo_frame_tag('draw_costs', draw) do %>
        <%= render @draw.draw_costs.visible %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col m-2 p-3 border shadow">
      <h3 class="text-center">Documents</h3>
      <%= turbo_frame_tag :draw_documents, draw do %>
        <%= render partial: 'draw_documents', locals: {draw: draw} %>
      <% end %>
    </div>
  </div>
<% end %>
