<div class="row">
  <div class="col-auto">
    <h1>
      <%= @service.project.name %> Draws
      <small>
        <%= link_to(image_tag(add_image),
                    new_project_draw_path(project_id: @service.project.id),
                    class: 'action-link',
                    data: { 'turbo_frame': dom_id(@service.draw)}
                   )%>
      </small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag dom_id(@service.draw) %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag 'project_draws' do %>
      <%= render @service.draws %>
    <% end %>
  </div>
</div>
