<%= turbo_frame_tag @draw do %>
  <%= turbo_frame_tag(:details, @draw) do %>
    <%= render partial: 'draws/draw_details', locals: { draw: @draw } %>
  <% end %>

  <div class="row">
    <div class="col m-2 p-3 border shadow">
      <h3 class="text-center">Documents</h3>
      <%= turbo_frame_tag :draw_documents, @draw do %>
        <%= render partial: 'draw_documents', locals: {draw: @draw} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col m-2 p-3 border shadow">
      <h3 class="text-center">Costs</h3>
      <%= turbo_frame_tag('draw_costs', @draw) do %>
        <%= render @draw.draw_costs.visible %>
      <% end %>
      <%= turbo_frame_tag 'new_draw_cost' do %>
        <%= render partial: 'draws/add_draw_cost_button', locals: { draw: @draw } %>
      <% end %>
    </div>
  </div>

<% end %>
