<%= turbo_frame_tag draw_document do %>
  <div id="<%= dom_id(draw_document) %>" class="draw_document_card d-flex flex-column justify-content-evenly text-center m-1 shadow-sm mt-3" style="position: relative;" data-controller="draw_document-card">
    <% unless draw_document.pending? %>
      <div class="position-absolute start-50 translate-middle border border-1 border-<%= draw_document.state_css_class %> bg-<%= draw_document.state_css_class %> text-white text-center" style="width: 8rem; top: 0;">
        <%= draw_document.state.titleize %>
      </div>
    <% end %>
    <h4><%= draw_document.documenttype.capitalize %> Document</h4>
    <% if draw_document.document.attached? %>
      <div class="preview_container">
        <%= link_to(rails_blob_path(draw_document.document), target: '_blank') do %>
          <%= image_tag preview_document(document: draw_document.document, resize: [150,150]), class: 'align-middle' %>
        <% end %>
      </div>
    <% end %>
    <div class="body">
      <% if policy(draw_document).approvals? %>
        <div class="document_approvals_button position-absolute top-50 start-0">
          <%= link_to(draw_draw_document_approve_path(draw_id: draw_document.draw_id, draw_document_id: draw_document.id), data: {turbo_method: :post}) do %>
            <%= inline_icon(icon: :square_check_open, size: 40, fill: :green) %>
          <% end if policy(draw_document).approve? %>
        </div>
        <div class="document_approvals_button position-absolute top-50 end-0">
          <%= link_to(draw_draw_document_reject_path(draw_id: draw_document.draw_id, draw_document_id: draw_document.id), data: {turbo_method: :post}) do %>
            <%= inline_icon(icon: :square_x_open, size: 40, fill: :red) %>
          <% end if policy(draw_document).reject? %>
        </div>
      <% end %>
      <small><%= short_date draw_document.updated_at %></small><br/>
      <% icon_attrs = draw_document.notes.present? ? {fill: :blue, opacity: 1.0, description: draw_document.notes } : {fill: :lightgray, opacity: 0.1, description: ''} %>
      <%= inline_icon(icon: :info, size: 35, fill: icon_attrs[:fill], opacity: icon_attrs[:opacity],
                      html: { id: dom_id(draw_document, 'description_popover') ,class: "draw_document_description_popover p-1", style: ( draw_document.notes.present? ?  'cursor: pointer' : '' ),
                              data: { bs_toggle: :popover, bs_placement: :bottom, bs_content: icon_attrs[:description], bs_trigger: 'click hover' } } ) %>
    </div>
    <div class="actions align-items-end">
      <%= link_to('Remove', draw_draw_document_path(draw_id: draw_document.draw_id, id: draw_document.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger') if policy(draw_document).destroy? %>
    </div>
  </div>
<% end %>

