<div class="row">
  <div class="col-auto me-auto">
    <h1>Projects</h1>
  </div>

  <div class="col-sm-6 col-md-3 col-auto">
    <%= link_to('Create Project', new_project_path, class: 'btn btn btn-primary') %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <th scope="col" width="25%">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Budget</th>
        <th scope="col" width="25%">Actions</th>
      </thead>
      <tbody>
        <% @collection.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= number_to_currency( project.budget || 0.0 ) %></td>
            <td>
              <%= link_to('Edit', edit_project_path(project), class: 'btn btn-primary btn-sm') if policy(project).edit? %>
              <%= link_to('Show', project_path(project), class: 'btn btn-primary btn-sm') if policy(project).show? %>
              <%= link_to('Delete', project_path(project), class: 'btn btn-danger btn-sm', data: { turbo_confirm: 'Are you sure?', turbo_method: :delete}) if policy(project).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
