<section>
  <%= turbo_frame_tag @project do %>
    <%= render @project %>
  <% end %>
</section>

<hr class="my-4">

<section>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <%= render partial: 'draws', locals: { project: @project } %>
    </div>

    <div class="col">
      <div class="row row-cols-1 g-2">
        <div class="col">
          <%= render partial: 'shared/user_notifications', locals: { notifications: @notifications} %>
        </div>
        <div class="col">
          <%= render partial: 'system_events', locals: {project: @project, system_events: @project.system_events} %> 
        </div>
        <div class="col">
          <%= render partial: 'members', locals: {project: @project, service: @service} %> 
        </div>
      </div>
    </div>

  </div>
</section>

