<section>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">
          <%= @project.name %>
          <%= link_to('Edit', edit_project_path(@project), class: 'btn btn-primary btn-sm') if policy(@project).edit? %>
        </h1>
        <p class="lead">
          <b>Budget:</b> <%= number_to_currency(@project.budget) %>
          <br/>
          <%= @project.description %>
        </p>
      </div>
    </div>
    <div class="col">
      <%= render partial: 'members', locals: {project: @project} %> 
    </div>
  </div>
</section>

<hr class="my-4">

<section>
  <h2>Draw 1</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <%= render partial: 'draw_requests', locals: { project: @project } %>
    </div>
  </div>
</section>

