<div class="row">
  <div class="col">
    <%= turbo_frame_tag @project do %>
      <%= render @project %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag 'new_draw' do %>
      <%= render partial: 'projects/new_draw_button', locals: {project: @project} %>
    <% end %>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 px-2">
  <div class="col">
    <%= turbo_frame_tag dom_id(@project, 'draws') do %>
      <%= render @project.draws_visible_to(@current_user).order(index: :desc) %>
    <% end %>
  </div>

  <div class="col">
    <div class="row row-cols-1 g-3">
      <div class="col">
        <%#= render partial: 'shared/user_notifications', locals: { notifications: @notifications} %>
      </div>
      <div class="col">
        <%= render partial: 'project_tasks', locals: {project: @project, project_tasks: @project_tasks} %> 
      </div>
      <div class="col">
        <%= render partial: 'members', locals: {project: @project, service: @service} %> 
      </div>
      <div class="col">
        <%= render partial: 'system_events', locals: {project: @project, system_events: @project.all_system_events} %> 
      </div>

    </div>
  </div>

</div>

