<%= form_with(model: organization, local: true) do |form| %>
  <div class="row">
    <div class="col">
      <fieldset>
        <legend>General Info</legend>

        <div class="row">
          <div class="col-sm-12 col-md-8 form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control form-control-lg', autofocus: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-8 form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-10 form-group">
      <button type="submit" class="btn btn-lg btn-primary">Save</button>
      <%= link_to 'Back', ( policy(Organization).index? ? organizations_path : :back ), class: "btn btn-sm btn-info" %>
    </div>
  </div>
<% end %>
