<div class="row">
  <div class="col-auto me-auto">
    <h1>Organizations</h1>
  </div>

  <div class="col-sm-6 col-md-3 col-auto">
    <%= link_to('Create Organization', new_organization_path, class: 'btn btn-success') %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <th scope="col" width="25%">Name</th>
        <th scope="col">Description</th>
        <th scope="col" width="25%">Actions</th>
      </thead>
      <tbody>
        <% @collection.each do |organization| %>
          <tr>
          <td><%= link_to(organization.name, organization_path(organization)) %></td>
            <td><%= organization.description %></td>
            <td>
              <%= link_to('Edit', edit_organization_path(organization), class: 'btn btn-primary btn-sm') if policy(organization).edit? %>
              <%= link_to('Show', organization_path(organization), class: 'btn btn-primary btn-sm') if policy(organization).show? %>
              <%= link_to('Delete', organization_path(organization), class: 'btn btn-danger btn-sm', data: { turbo_confirm: 'Are you sure?', turbo_method: :delete}) if policy(organization).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
