<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-4">
        <%= @organization.name %>
        <%= link_to('Edit', edit_organization_path(@organization), class: 'btn btn-primary btn-sm') if policy(@organization).edit? %>
      </h1>
      <p class="lead">
        <%= @organization.description %>
      </p>
      <hr class="my-4">
    </div>
  </div>
</div>

<div class="row">

  <div class="col-6">
    <div class="card">
      <h5 class="card-header">
        Draw Requests
        <span class="badge bg-info" style="font-size: 0.6em; vertical-align: middle;">
          2
        </span>
        <span class="badge bg-warning" style="font-size: 0.6em; vertical-align: middle;">
          3
        </span>
        <%= link_to('Create', '#', class: 'btn btn-sm btn-primary') %>
      </h5>
      <div class="card-body">
        <div class="card-header bg-info">
          <b>Pending</b>
        </div>
        <% if true %> 
          <ul class="list-group list-group-flush">
            <% (1..2).each do |draw| %>
              <li class="list-group-item">
                <%= full_datetime(Time.now - rand(10-draw).days - rand(20).hours - rand(60).minutes) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <em>None</em>
        <% end %>

        <hr/>

        <div class="card-header bg-warning">
          <b>Submitted</b>
        </div>
        <% if true %> 
          <ul class="list-group list-group-flush">
            <% (1..3).each do |draw| %>
              <li class="list-group-item">
                <%= full_datetime(Time.now - rand(10-draw).days - rand(20).hours - rand(60).minutes) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <em>None</em>
        <% end %>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <h5 class="card-header">
        Users
        <span class="badge bg-info" style="font-size: 0.6em; vertical-align: middle;">
          <%= @organization.users.count %>
        </span>
        <%= link_to('Add', new_user_path(organization_id: @organization.id), class: 'btn btn-sm btn-primary') if policy(User).new? %>
      </h5>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <% if @organization.users.count > 0 %>
            <ul>
              <% @organization.users.ordered_by_name.each do |user| %>
                <li><%= link_to(user.name, user_path(user)) %></li>
              <% end %>
            </ul>
          <% else %>
            <em>None</em>
          <% end %>
        </p>
      </div>
    </div>
  </div>

</div>

