<%= turbo_frame_tag draw_cost_submission do %>
  <div id="<%= draw_cost_submission.id %>" class="draw_cost_request_card d-flex flex-column justify-content-evenly text-center m-1 shadow-sm" >
    <div class="preview_container">
      <% if draw_cost_submission.document.attached? %>
        <%= link_to(rails_blob_path(draw_cost_submission.document), target: '_blank') do %>
          <%= image_tag preview_document(document: draw_cost_submission.document, resize: [150,150]), class: 'align-middle' %>
        <% end %>
      <% end %>
    </div>
    <div class="card_upload_button">
      <% unless draw_cost_submission.document.attached? %>
        <%= image_tag upload_image %>
      <% end %>
    </div>
    <div class="body">
      <span><%= number_to_currency draw_cost_submission.amount %></span><br/>
      <% if policy(draw_cost_submission.draw_cost).approve? %>
        OCR <%= image_tag(circle_check_image) %><br/>
        <%= image_tag square_check_image %>
        &nbsp;
        <%= image_tag square_x_open_image, style: 'opacity: 0.2;' %>
        <br/>
      <% end %>
      <small>
        <%= short_date draw_cost_submission.updated_at %>
      </small>
      <br/>
      <span class="badge rounded-pill bg-info"><%= draw_cost_submission.state %></span><br/>
    </div>
    <div class="actions align-items-end">
      <%= link_to('Edit', edit_draw_cost_request_draw_cost_submission_path(draw_cost_request_id: draw_cost_submission.draw_cost_request_id, id: draw_cost_submission.id), class: 'btn btn-sm btn-primary m-1') if policy(draw_cost_submission).edit? %>
      <%= link_to('Remove', draw_cost_request_draw_cost_submission_path(draw_cost_request_id: draw_cost_submission.draw_cost_request_id, id: draw_cost_submission.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger') %>
    </div>
  </div>
<% end %>
