<div id="<%= draw_cost_submission.id %>" class="draw_cost_request_card d-flex flex-column justify-content-evenly text-center m-1 shadow-sm">
  <%= form_for(:draw_cost_submission, url: draw_cost_request_draw_cost_submission_path(draw_cost_request_id: draw_cost_submission.draw_cost_request_id), method: :patch, multipart: true) do |form| %>
    <% if draw_cost_submission.id.present? %>
      <h4>Edit Submission</h4>
    <% else %>
      <h4>New Submission</h4>
    <% end %>

    <hr/>
    <div class="preview_container">
      <% if draw_cost_submission.document.attached? %>
        <%= image_tag preview_document(document: draw_cost_submission.document, resize: [150,150]) %>
      <% end %>
    </div>
    <div class="card_upload_button">
      <%= form.label :document, style: 'display: block;' do %>
        <%= image_tag(upload_image, class: 'upload_image') %>
        <%= form.file_field :document, class: 'visually-hidden' %>
      <% end %>
    </div>
    <div class="body">
      <div class="form-floating">
        <%= form.number_field :amount, { class: 'form-control'} %>
        <%= form.label :amount, 'Amount $' %>
      </div>
    </div>
    <div class="actions align-items-end">
      <%= form.submit 'Submit', class: 'btn btn-sm btn-success m-1' %>
    </div>
  <% end %>
</div>
