<div id="<%= dom_id(draw_cost_submission) %>" class="draw_cost_request_card d-flex flex-column justify-content-evenly text-center m-1 shadow-sm">
  <% if draw_cost_submission.new_record? %>
    <% form_url = draw_cost_request_draw_cost_submissions_path(draw_cost_request_id: draw_cost_submission.draw_cost_request_id) %>
  <% else %>
    <% form_url = draw_cost_request_draw_cost_submission_path(draw_cost_request_id: draw_cost_submission.draw_cost_request_id, draw_cost_submission_id: draw_cost_submission.id) %>
  <% end %>
  <%= form_with(model: draw_cost_submission, url: form_url, multipart: true) do |form| %>
    <% if draw_cost_submission.new_record? %>
      <h4>Upload Invoice</h4>
    <% else %>
      <h4>Update Invoice</h4>
    <% end %>

    <hr/>
    <div class="preview_container">
      <% if draw_cost_submission.document.attached? %>
        <%= image_tag preview_document(document: draw_cost_submission.document, resize: [150,150]) %>
      <% end %>
    </div>
    <% if draw_cost_submission.new_record? %>
      <div class="card_upload_button">
        <%= form.label :document, style: 'display: block;' do %>
          <%= image_tag(upload_image, class: 'upload_image') %>
          <%= form.file_field :document, class: 'visually-hidden' %>
        <% end %>
      </div>
    <% end %>
    <div class="body">
      <div class="form-floating">
        <%= form.number_field :amount, { class: 'form-control'} %>
        <%= form.label :amount, 'Amount $' %>
      </div>
    </div>
    <div class="actions align-items-end">
      <%= form.submit 'Submit', class: 'btn btn-sm btn-success m-1' %>
    </div>
  <% end %>
</div>
