<div class="row">
  <div class="col-auto me-auto">
    <h1>'<%= @project.name %>' Members</h1>
    Count: 
    <%= turbo_frame_tag 'project_users_count' do %>
      <%= @project_users.count %>
    <% end %> 
  </div>
  <div class="col-auto">
    <%= link_to('Add Member', new_project_project_user_path, data: {'turbo_frame': dom_id(@project_user)}, class: 'btn btn-success') %>
  </div>
</div>

<%= turbo_frame_tag @project_user %>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag 'project_users' do %>
      <%= render @project_users %>
    <% end %>
  </div>
</div>
