<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title>Drafter</title>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <main id="content" class="container-fluid">
      <div class="container">
        <%= turbo_frame_tag 'system_notifications' do %>
          <%= render partial: 'shared/notifications' %>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
